/* global.css */

:root {
    /* default font-size for medium screens */
    font-size: 16px;
}

/* For small screens */
@media screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}

/* For large screens */
@media screen and (min-width: 1200px) {
    :root {
        font-size: 20px;
    }
}


@font-face {
    font-family: 'OribitronM';
    src: url('~@/assets/fonts/Orbitron-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSan';
    src: url('~@/assets/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('~@/assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZCOOL';
    src: url('~@/assets/fonts/ZCOOLQingKeHuangYou-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WuHun';
    src: url('~@/assets/fonts/AaWuHunTi-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Msyh';
    src: url('~@/assets/fonts/MicroSofyYaHei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WY';
    src: url('~@/assets/fonts/WenYue-ZHJXinWeiTi-GBK-2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* other global styles */
