/* global.css */

:root {
    /* default font-size for medium screens */
    font-size: 1vw;
}
#inner-content-wrapper{
    width: 80vw;
}
a{
    text-decoration: none;
    color: #fff3cd;
}
pre{
    border-radius: 10px;
    padding:10px;
}

/* For small screens */
@media screen and (max-width: 1000px) {
    :root {
        font-size: 0.5vw;
    }
    #inner-content-wrapper{
        width: 90vw;
    }
    a{
        text-decoration: none;
        color: #fff3cd;
    }
    pre{
        border-radius: 10px;
        padding:10px;
    }
}

/* For large screens */
@media screen and (min-width: 1920px) {
    :root {
        font-size: 0.5vw;
    }
    #inner-content-wrapper{
        width: 60vw;
    }
    a{
        text-decoration: none;
        color: #fff3cd;
    }
    pre{
        border-radius: 10px;
        padding:10px;
    }
}

@media screen and (min-width: 3440px) and (min-height: 1000px){
    :root {
        font-size: 0.5vw;
    }
    #inner-content-wrapper{
        width: 45vw;
    }
    a{
        text-decoration: none;
        color: #fff3cd;
    }
    pre{
        border-radius: 10px;
        padding:10px;
    }
}

@font-face {
    font-family: 'OribitronM';
    src: url('~@/assets/fonts/Orbitron-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSan';
    src: url('~@/assets/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('~@/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('~@/assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZCOOL';
    src: url('~@/assets/fonts/ZCOOLQingKeHuangYou-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WuHun';
    src: url('~@/assets/fonts/AaWuHunTi-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Msyh';
    src: url('~@/assets/fonts/MicroSofyYaHei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WY';
    src: url('~@/assets/fonts/WenYue-ZHJXinWeiTi-GBK-2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
